.PaymentOnTon-body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.payment-info {
    width: 85%;
    overflow-wrap: break-word;
}


.payment-info img {
    width: 7vw;
    height: 7vw;
    vertical-align: middle;
    margin: 2vw;
}


.annotation {
    opacity: 0.5;
}


.copy-success-message {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(100%);
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.5;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.copy-success-message.show {
    bottom: 25px;
    opacity: 1;
}