.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
}


.App-main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.App-link {
  color: var(--tg-theme-link-color);
}


.component {
  width: 100%;
}


.adjustable-button{
  width: 50%;
  min-height: 15vmin;
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
  border-radius: 25px;
  font-size: 100%;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}


.button-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.auth-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}


.auth-button span {
  flex-grow: 3;
  text-align: center;
}


.auth-button img {
  flex-grow: 1;
  width: auto;
  height: 5vh;
}
